@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
}

body {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: #000000;
}

.container{
	height: 500px;
	width: 300px;
	box-shadow: 0 10px 20px #eeff07; /*luz del contenedor de los bordes*/
	background-size: cover;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
	font-family: sans-serif;
	border-radius: 5%;
}

.shape{
	background-color: #afff03;/* diagonal*/
	height: 230px;
	width: 400px;
	margin-left: -20px;
	position: relative;
	top: -100px;
	box-shadow: 0 2px 15px #27e609;   /*diagona de abajo en la parte donde se ubica la foto*/
	transform: rotate(20deg);
}

.image{
	height: 120px;
	width:120px;
	background-image: url(img/img1.png);
	position: absolute;
	top: 170px;
	margin-left: 150px;
	background-size: cover;
	border: none;
	border-radius: 30px;
	box-shadow: 0 2px 15px #27e609; /* luz de la imagen */
	transform: rotate(-20deg);
}

.title{
	font-size: 16px;
	padding-bottom:6px;
	color: #ffffff;
}

h3{
	margin-bottom: 10px;
	color: #ffff;
}



p{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 2;
	color: rgb(255, 255, 255);
	/* color: #634c4c; */
	font-size: 15px;
}

.icons{
	margin-top: 15px;
}

.icons i{
	margin-left: 10px;
	font-size: 20px;
	transform: .3s;
	color: rgb(221, 255, 4);
}

.icons i:hover{
	transform: scale(1.2);
	color: rgb (18,192,235);
}

.icons ion-icon {
    font-size: 30px; 
	margin-right: 20px; 
	text-align: center;
	color: #f2ff00; 

  }

button{
	background-color: #000000;
	color: #ffffff;
}